{% extends 'base.html' %}

{% block content %}
<div class="container">

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissable" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    <h4>Register New Machine</h4>
    <form method="POST">
        {% csrf_token %}
        {{ create_machine_form }}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Create Machine</button>
        </div>
    </form>

    </br>
    <h4>Registered Machines</h4>
    </br>
    {% if all_machines %}
    <table class="table table-bordered">
        <tr>
            <td><h5>Machine Description</h5></td>
            <td><h5>Authentication Token</h5></td>
        </tr>
        {% for machine in all_machines %}
        <tr>
            <td>{{ machine.description }}</td>
            <td>{{ machine.token }}</td>
            <td><a href="{% url 'deletemachine' machine.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}